- content_for :head do
  %title PropertyFeast

%article
  = partial('docs/about')
  = partial('docs/overview')
  = partial('docs/example')
  = partial('docs/elements')
  = partial('docs/validate')
  = partial('docs/delivery')
  = partial('docs/contributing')